{% extends "blog/base.html" %}

{% load static %}
{% block content %}

<h3 align="center"> Welcome to Nowhere2Eat!</h3>
<h6 align="center"> Nowhere2Eat is a free web-app designed to help groups of people decide on a dining venue. Select a region below to generate a shareable link for your group, then vote on restaurants or attributes that you like!</h6>
<div class="animated" hidden>

    <div align="center" id="buttonCase">
      <button> {{ UC }} </button>

    </div>





  <div data-title = "homepage" id = "page"> </div>
</div>
{% endblock content %}
