{% extends "blog/base.html" %}

{% load static %}
{% block content %}

<h3 align="center"> Welcome to Nowhere2Eat!</h3>
<h6 align="center"> Nowhere2Eat is a free web-app designed to help groups of people decide on a dining venue. <br><br>How does it work?<br>Just select a region below to generate a shareable link for your group, enter a username, and vote on restaurants or attributes that you like. The site will rearrange restaurants in order of your group's voting score. <br><br>Voting on a filter will affect the scores of all restaurants with that attribute, and voting on individual restaurants will only affect the score of that restaurant.</h6>
<div class="animated" hidden>

    <div align="center" id="buttonCase">
      <button> {{ UC }} </button>

    </div>





  <div data-title = "homepage" id = "page"> </div>
</div>
{% csrf_token %}
{% endblock content %}
